
<div class="banner">
 <div class="banner-content">

 <h3>Comparez gratuitement les offres
 des grands assureurs et augmentez automatiquement votre pouvoir d'achat !</h3>
 <ul></ul>
 <a href="emprunteurs_path" class="btn-twitter">J'économise sur mon assurance</a>

 </div>
</div>
